<h1>Add another supplier</h1>
<div class="table-div">
  <form class=" form-div" method="post" action="/suppliers">
    <div class="in-form-div">
      <label for="name">Name:</label>
      <input id="name" type="text" name="name">
    </div> 
    <div class="in-form-div">
      <label for="location">Location:</label>
      <input id="location" type="text" name="location">
    </div>
    <div class="in-form-div">
      <label for "picture"> Profile picture:</label>
      <input id="picture" type="text" name="picture">
    </div>
    <input class="form-button in-forms" type="submit" value="Add">
  </form>
</div>