<h1>Overview</h1>
  <section>
    <h2>Financial Overview</h2>
      <img src="http://via.placeholder.com/350x150" alt="chart with details of financial data">
  </section>
  <section>
    <h2>Inventory Overview</h2>
      <table>
        <tr>
          <th>Product Name</th>
          <th>Items in Stock</th>
        </tr>
        <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.quantity %></td>
        </tr>
        <% end %>

      </table>
    <img src="http://via.placeholder.com/350x150" alt="List of items low on stock">
  </section>