<h1>Overview</h1>
<div class="overview">
  <section class="financial-overview">
    <h2>Financial Overview</h2>
    <table>
      <tr>
        <th class="fin-left">Total Income:</th>
        <td class="fin-right"> 23, 532 Gold</td>
      </tr>    
      <tr>
        <th class="fin-left">Total Spending:</th>
        <td class="fin-right">16, 234 Gold</td>
      </tr>
      <tr>
        <th class="fin-left">Total Earnings:</th>
        <td class="fin-right">7, 298 Gold</td>
      </tr>
    </table>
  </section>
  <section id="inventory-overview">
    <h2>Inventory Overview</h2>
    <table>
      <tr>
        <th>Product Name</th>
        <th>Items in Stock</th>
        <th></th>
        <th>Order</th>
      </tr>
      <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td class="td-center"><%= product.quantity %></td>
        <td>
          <% if product.quantity <= 5 %>
          <img class="dot" src="/img/ico_red.png">
          <% elsif product.quantity >= 20 %>
          <img class="dot" src="/img/ico_green.png">
          <% else %>
          <img class="dot" src="/img/ico_yellow.png">
          <% end %>
        </td>
        <td><a class="link-to-button" href="/order">Order more</a></td>
      </tr>
      <% end %>
    </table>
  </section>
</div>