<h1>Overview</h1>
  <section>
    <h2>Financial Overview</h2>
      <img src="http://via.placeholder.com/350x150" alt="chart with details of financial data">
  </section>
  <section>
    <h2>Inventory Overview</h2>
      <table>
        <tr>
          <th>Product Name</th>
          <th>Items in Stock</th>
        </tr>
        <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.quantity %></td>
          <td><% if product.quantity <= 3 %>
                <img src="/img/ico_red.png">
              <% elsif product.quantity >= 20 %>
                <img src="/img/ico_green.png">
              <% else %>
                <img src="/img/ico_yellow.png">
            <% end %>
          </td>
          <td><a href="/order">Order more</a></td>
        </tr>
        <% end %>
      </table>
  </section>