<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <meta name="author" content="Finn Porter">
  <link rel="shortcut icon" type="image/png" href="/img/favicon_sword_48.png"/>
  <link href="https://fonts.googleapis.com/css?family=Oleo+Script|Rubik:400,400i,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>Leeroy's Pwn Shop</title>
</head>
<body>
  <img id="logo" src="/img/logo.jpg" alt="logo">
  
  <div>
    <nav id="main-nav">
      <ul>
        <li><a href="/">Overview</a></li>
        <li><a href="/products">Inventory</a></li>
        <li><a href="/suppliers">Suppliers</a></li>
        <li><a href="/suppliers/add">Add Supplier</a></li>
        <li><a href="/products/add">Add Product</a></li>
        <li><a class="inactive-nav" href="/finances">Finances</a></li>
        <li><a class="inactive-nav" href="/languages">Languages</a></li>
      </ul>
    </nav>
  </div>
  <div>
  <%= yield %>
  </div>
  <footer>
    <hr>
    <section>
      <ul>
        <li><a class="grey-text" href="/">Overview</a></li>
        <li><a class="grey-text" href="/products">Inventory</a></li>
        <li><a class="grey-text" href="/suppliers">Suppliers</a></li>
        <li><a class="grey-text" href="/suppliers/add">Add Suppliers</a></li>
        <li><a class="grey-text" href="/products/add">Add Product</a></li>
      </ul>
    </section>
    <section id="copyright">
      <p>&copy Finn Porter 2017</p>
    </section>
  </footer>
</body>
</html>