<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Finn Porter">
  <link rel="shortcut icon" type="image/png" href="/img/favicon_sword_48.png"/>
  <link href="https://fonts.googleapis.com/css?family=Oleo+Script|Rubik" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  <title>Leeroy's Pwn Shop</title>
</head>
<body>
  <img src="/img/logo.jpg" alt="logo">
  <div>
    <nav>
      <ul>
        <li><a href="/">Overview</a></li>
        <li><a href="/products">Inventory</a></li>
        <li><a href="/suppliers">Suppliers</a></li>
        <li><a href="/suppliers/add">Add Supplier</a></li>
        <li><a href="/products/add">Add Product</a></li>
        <li><a href="/finances">Finances</a></li>
        <li><a href="/languages">Languages</a></li>
      </ul>
    </nav>
  </div>
  <%= yield %>
  <footer>
    <hr>
    <section>
      <ul>
        <li><a href="/">Overview</a></li>
        <li><a href="/products">Inventory</a></li>
        <li><a href="/suppliers">Suppliers</a></li>
        <li><a href="/suppliers/add">Add Suppliers</a></li>
        <li><a href="/products/add">Add Product</a></li>
        <li><a href="/finances">Finances</a></li>
        <li><a href="/languages">Languages</a></li>
      </ul>
    </section>
    <section>
      <p>(c) 2017 Finn Porter</p>
    </section>
  </footer>
</body>
</html>