/*
Palette
#dad4a6
#FFD700
#ffbf37
#a1a198
#d5d8d1
#eeeeee
#8c8c85
*/

/*tags*/
/*body, img, div, nav, ul, li, a, footer, hr, section,
h1, h2, p, table, tr, th, td, form, label, input, select, option*/


body {
  background-color: #8c8c85;
  color: #202020;
  font-family: Rubik;
}

h1 {
  font-family: Oleo Script;
  margin-left: 450px;
  margin-top: 75px;
  display: inline-block;
  float: center;
  width: 100%;
  position: initial;
}

h2 {
  font-family: Oleo Script;
}

img#logo {
  border-radius: 75px;
  border: 1px solid #ffbf37;
  max-width: 350px;
  margin: 20px 20px 20px 20px;
  float: left;
  clear: right;
  position: absolute; 
}

div#overview {
  display: flex;
}

section#financial-overview {
  float: left;
  margin: 60px 60px 0px 35px;
  padding-left: 40px;
  padding-bottom: 20px;
  flex: 1;
  max-width: 300px;
  background-color: #ffbf37; 
  border-radius: 10px; 
}

section#inventory-overview {
  float: right;
  flex: 1;
  margin: 60px 60px 0px 35px;
  padding-left: 40px;
  padding-bottom: 20px;
  max-width: 500px;
  background-color: #ffbf37; 
  border-radius: 10px; 
}

/*navigation*/
div#main-nav {
  position: absolute;
}

nav {
  float: right;
  width: 66%;
  text-align: right;
}

nav ul {
  padding: 0;
  margin: 20px 20px 30px 0;
  list-style-type: none;
  /*  */
} 

nav ul li {
  display: inline-block;
  margin: 15px 0px 15px 1px;
}

hr {
  border-color: #d5d8d1;
  max-width: 90%;
  margin-top: 30px;
}

/*footer*/

footer section {
  float: left;
}

footer section ul {
  margin: 5px;
  text-decoration: none;
}

footer section ul li {
  display: inline-block;
  margin: 15px 5px 15px 1px;
}

.grey-text {
  color: #d5d8d1;
  text-decoration: none;
}

#copyright {
  float: right;
  margin-right: 30px;
}


/*links*/
.inactive-nav {
  color: #999;
}

.inactive-nav:hover {
  background-color: #8c8c85;
}

nav ul li a {
  color: #7c7c73;
  background-color: #d5d8d1;
  padding: 8px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #dad4a6;
}

nav ul li a:visited {
  color: #202020;
}

nav ul li a:active {
  background-color: #dad4a6;
}

/*tables*/
th.fin-left {
  text-align: left;
  padding: 10px;
}

td.fin-right {
  text-align: right;
}

.inv-overview {
  height: 30px;
  padding-left: 6px;
  padding-right: 6px;
}

.dot {
  margin: 4px;
}

th {
  text-align: center;
  font-weight: 700;
  padding: 2px;
  text-decoration: none;
}

.td-center {
  text-align: center;
}

.table-div {
  padding-left: 40px;
  padding-bottom: 20px;
  background-color: #ffbf37; 
  border-radius: 10px; 
  max-width: 70%;
  margin: 0 auto;
}

/*buttons*/
.link-to-button {
  color: #d5d8d1;
  background-color: #9f9f9f;
  padding: 4px 4px 6px 4px;
  text-decoration: none;
  border: 1px solid #ffbf37;
}


/*forms*/