/* Palette*/
/*
#dad4a6
#FFD700
#ffbf37
#a1a198
#d5d8d1
#eeeeee
#8c8c85
#202020
*/

/*tags*/
/*body, img, div, nav, ul, li, a, footer, hr, section,
h1, h2, p, table, tr, th, td, form, label, input, select, option*/


body {
  background-color: #8c8c85;
  color: #202020;
  font-family: Rubik;
}

h1 {
  font-family: Oleo Script;
  margin-left: 450px;
  margin-top: 75px;
  display: inline-block;
  position: initial;
}

h2 {
  font-family: Oleo Script;
}

#supplier-h2 {
  padding: 20px 0 0 0;
}

img#logo {
  border-radius: 75px;
  border: 1px solid #ffbf37;
  max-width: 350px;
  margin: 20px 20px 20px 20px;
  float: left;
  clear: right;
  position: absolute; 
}

.overview {
  display: flex;
}

.financial-overview {
  float: left;
  margin: 60px 60px 0px 35px;
  padding-left: 40px;
  padding-bottom: 20px;
  flex: 1;
  max-width: 300px;
  background-color: #ffbf37; 
  border-radius: 10px; 
}

section#inventory-overview {
  float: right;
  flex: 1;
  margin: 60px 60px 0px 35px;
  padding-left: 40px;
  padding-bottom: 20px;
  max-width: 500px;
  background-color: #ffbf37; 
  border-radius: 10px; 
}

.profile {
  float: right;
  border: 2px solid #d5d8d1;
  display: inline-block;
  max-width: 400px;
  max-height: 200px;
  margin: 40px 20px 0px 0;
}

#supplier-details {
  margin-left: 42px;
}

/*navigation*/
div#main-nav {
  position: absolute;
}

nav {
  float: right;
  width: 66%;
  text-align: right;
}

nav ul {
  padding: 0;
  margin: 20px 20px 30px 0;
  list-style-type: none;
} 

nav ul li {
  display: inline-block;
  margin: 15px 0px 15px 1px;
}

nav ul li a {
  color: #7c7c73;
  background-color: #d5d8d1;
  padding: 8px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #dad4a6;
}

nav ul li a:visited {
  color: #202020;
}

nav ul li a:active {
  background-color: #dad4a6;
}

.inactive-nav {
  color: #999;
}

.inactive-nav:hover {
  background-color: #8c8c85;
}

/*footer*/
hr {
  border-color: #d5d8d1;
  max-width: 90%;
  margin-top: 30px;
}

footer section {
  float: left;
}

footer section ul {
  margin: 5px;
}

footer section ul li {
  display: inline-block;
  margin: 15px 5px 15px 1px;
}

.grey-text {
  color: #d5d8d1;
  text-decoration: none;
}

#copyright {
  float: right;
  margin-right: 30px;
}


/*links*/
a {
  text-decoration: none;
  color: #202020;
}

a:hover {
  color: #a1a198;
}


/*tables*/
.fin-left {
  text-align: left;
  padding: 10px;
}

.fin-right {
  text-align: right;
}

.dot {
  margin: 5px;
}

th {
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  height: 30px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 6px;
}

.td-center {
  text-align: center;
}

.table-div {
  padding-left: 40px;
  padding-bottom: 20px;
  background-color: #ffbf37; 
  border-radius: 10px; 
  max-width: 85%;
  margin: 0 auto;
  clear: right;
}

td {
  height: 30px;
  padding-left: 6px;
  padding-right: 6px;
}

/*buttons*/
.link-to-button {
  color: #d5d8d1;
  background-color: #414244;
  padding: 4px 4px 6px 4px;
  text-decoration: none;
}

.link-to-button:hover {
  color: #eee;
}

#supplier-edit {
  float: right;
  clear: right;
  display: inline-block;
  margin: 2px 20px 0px 0;
}

input[type=submit] {
  float: right;
  clear: right;
  display: inline-block;
  margin: 2px 20px 20px 0;
  color: #d5d8d1;
  background-color: #414244;
  border: none;
  padding: 4px 4px 6px 4px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;

}




/*forms*/

label {
  margin: 20px 0px 5px 0px;
  display: inline-block;
  font-weight: 700;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid #202020;
    background-color: #ffbf37;
    font-size: 16px;
    color: #414244;
    display: inline-block;
}

input[type=number] {
  border: none;
  border-bottom: 2px solid #202020;
  background-color: #ffbf37;
  display: block;
  font-size: 16px;
  color: #414244;
}

.form-div {
  margin: 30px 0 60px 85px;
  max-height: 100%;
  padding: 12px 20px;
}