<h1>Add another product</h1>

<form method="post" action="/products">
  <label for="name">Name:</label>
  <input id="name" type="text" name="name">

  <label for="supplier_id">Select a supplier</label>
  <select name="supplier_id">
    <option value="5">Select a supplier</option>
  </select>

  <input type="submit" value="Add">
</form>