<h1>Add another product</h1>

<form method="post" action="/products">
  <label for="name">Name:</label>
  <input id="name" type="text" name="name">

  <label for="type-id">Type</label>
  <select id="tpye-id" name="tpye_id">
    <% for type in @types %>
    <option value="<%= type.id %>"><%= type.type %></option>
    <% end %>
  </select>

  <label for="quantity">Stock:</label>
  <input id="quantity" type="number" name="quantity">

  <label for="buy-price">Buy Price:</label>
  <input id="buy-price" type="number" name="buy_price">

  <label for="sell-price">Sell Price:</label>
  <input id="sell-price" type="number" name="sell_price">

  <label for="supplier_id">Select a supplier</label>
  <select id="supplier_id" name="supplier_id">
    <% for supplier in @suppliers %>
    <option value="<%= supplier.id %>"><%= supplier.name %></option>
    <% end %>
  </select>

  <input type="submit" value="Add">
</form>